@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

span {
  color: white;
}

.loadingSection {
  display: flex;
}

img {
  cursor: pointer;
}

.home {
  background-image: url("/src/assets/home-Image.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 415px;
  width: 100%;
  background: #000;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-items {
  color: #fff;
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: SF Pro Display;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: 30.447px; /* 177.049% */
  letter-spacing: 0.762px;
  cursor: pointer;
}

.n-logo {
  width: 10vw;
}

.ranks {
  color: #fff;
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: SF Pro Display;
  font-size: 13.723px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 145.741% */
  letter-spacing: -0.041px;
}
